* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  /* background-image: url("https://picsum.photos/1920/1080"); */
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fffefe;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  margin-bottom: 30px;
}

button {
  padding: 40px 20px;
  border-radius: 10px;
  border: dashed 2px #f05;
  cursor: pointer;
  font-size: 30px;
}

#paper {
  background-color: aquamarine;
}

#rock {
  background-color: coral;
}

#scissors {
  background-color: skyblue;
}

button:hover {
  opacity: 0.8;
}

button:active {
  transform: scale(0.95);
}

p {
  margin-top: 20px;
}

.result {
  font-size: 24px;
  color: #fffefe;
}

#me {
  font-weight: bold;
  color: #f05;
}

#ai {
  font-weight: bold;
  color: #a91;
}
